{{#formdataitems}}
{{> enrol_poodllprovider/contentitemform}}
{{/formdataitems}}


<!-- Custom JS from template  goes goes here  -->
{{#js}}

require(['jquery'], function($) {
    $('.poodllprovider-item-link').click(function(){
        var formid = $(this).data('formid');
        document.getElementById(formid).submit();
        //return false;
    });
}); //end of script



{{/js}}