{{#formdataitems}}
{{> enrol_poodllprovider/contentitemform}}
{{/formdataitems}}


<!-- Custom JS from template  goes goes here  -->
{{#js}}

require(['jquery'], function($) {
    var poodllprovider_item_link_submitted=false;
    $('.poodllprovider-item-link').click(function(e){
        e.preventDefault();
        var formid = $(this).data('formid');
        if(!poodllprovider_item_link_submitted){
         poodllprovider_item_link_submitted=true;
         document.getElementById(formid).submit();
        }
        //return false;
    });
}); //end of script



{{/js}}