{
  "@context" : "http://purl.imsglobal.org/ctx/lti/v1/ContentItem",
  "@graph" : [
        { "@type" : "LtiLinkItem",
            "@id" : "{{id}}",
            "url" : "{{{url}}}",
            "title": "{{title}}",
{{#icon}}
            "icon" : {
                "@id" : "{{{icon}}}",
                "width" : 45,
                "height" : 45
            },
{{/icon}}
{{#thumbnail}}
            "thumbnail" : {
                "@id" : "{{{thumbnail}}}",
                "width" : 100,
                "height" : 150
            },
{{/thumbnail}}
            "text" : "{{text}}",
            "mediaType" : "application/vnd.ims.lti.v1.ltilink",
            "custom" : {
                "force_embed" : "1"
            },
            "placementAdvice" : {
                "presentationDocumentTarget" : "frame",
                "windowTarget" : "anLTIApp"
            }
        }
    ]
}