{{> enrol_poodllprovider/top-menu}}
{{#sections}}
    {{> enrol_poodllprovider/activity-list}}
{{/sections}}

{{#js}}
    require(['jquery','enrol_poodllprovider/provider'], function($, Provider) {
        var root = $('#page-enrol-poodllprovider-tool');
        Provider.init(root);
    });
{{/js}}